{% extends 'products/base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail">

    {% if product.image %}
        <img class="detail-img" src="{{ product.image.url }}" alt="{{ product.name }}">
    {% else %}
        <img class="detail-img" src="{% static 'products/img/no-image.png' %}" alt="No image">
    {% endif %}

    <h2>{{ product.name }}</h2>
    <p class="detail-price">{{ product.price }} ₼</p>
    <p class="detail-desc">{{ product.description }}</p>

    <button class="add-cart">Səbətə əlavə et</button>
</div>
{% endblock %}
