{% extends 'products/base.html' %}
{% load static %}
{% block title %}Bütün Məhsullar{% endblock %}

{% block content %}
<div class="search-container">
    <form method="GET" action="{% url 'products:product_list' %}">
        <input type="text" name="q" placeholder="Axtarış..." value="{{ request.GET.q }}">
    </form>
</div>

<h2 class="page-title">Məhsullar</h2>

<div class="product-grid">
    {% for product in products %}
    <a class="product-card" href="{% url 'products:product_detail' product.slug %}">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'products/img/no-image.png' %}" alt="No image">
        {% endif %}
        <p class="product-name">{{ product.name }}</p>
        <p class="product-price">{{ product.price }} ₼</p>
    </a>
    {% endfor %}
</div>
{% endblock %}
